@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

// Header overly card //

.header-card-container {
  position: relative;
  width: 100%;
  max-width: 350px;
}

.header-card-image {
  display: block;
  width: 100%;
  height: auto;
}

.header-card-overlay {
  padding-top: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease-out;
  background-color: rgb(255, 255, 255);

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
    transition: all 0.3s ease-out;
    padding-left: 10px;
  }

  a:hover {
    background-color: rgba(226, 226, 226, 0.7);
  }
}

.header-card-container:hover .header-card-overlay {
  opacity: 1;
}

/// out service style
.whatPeopleBg {
  height: 40vh;
  background-image: url("https://www.aamartaka.com/images/right-quote.png");
  background-repeat: no-repeat, repeat;
}