@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.container2 {
  width: 98%;
  margin: 0 auto;
}


a {
  color: inherit;
  text-decoration: none;
}

// Header overly card //

.header-card-container {
  position: relative;
  width: 100%;
}

.header-card-overlay {
  padding-top: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease-out;
  background-color: rgb(255, 255, 255);

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
    transition: all 0.3s ease-out;
    padding-left: 10px;
  }

  a:hover {
    background-color: rgba(226, 226, 226, 0.7);
  }
}

.header-card-container:hover .header-card-overlay {
  opacity: 1;
  overflow-y: scroll;
}

/// out service style
.whatPeopleBg {
  height: 40vh;
  background-image: url("https://www.aamartaka.com/images/right-quote.png");
  background-repeat: no-repeat;
}

/// subscribe section style 

.subscribe-bg {
  background-image: url("https://www.aamartaka.com/static/media/subscribe-bg.22d721f9.png");
  background-repeat: no-repeat;
}

//// Radio button style
input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 .1em white, 0 0 0 2px #00bdf2;
  border-radius: 50%;
  transition: .5s;
  cursor: pointer;
}

input[type="radio"]:checked {
  background: #00bdf2;
  box-shadow: inset 0 0 0 .3em white, 0 0 0 2px #00bdf2;
}

input[type="radio"]:focus {
  outline: 0;
}

//// Radio button end 

/// mobile header style

.mobileHeaderBorder {
  border: 1px dashed rgb(193, 193, 193);
}

// personal loan button style
.loanButton {
  --hover: #3b6992;
  transition: 0.2s;
}

.loanButton:hover,
.loanButton:focus {
  box-shadow: inset 0 3.25em 0 0 var(--hover);
}

/////  Loan steeper next button start

button.bttn {
  border-radius: 40px;
  margin: 0 auto;
  position: relative;
}

button.bttn:hover {
  border-radius: 40px;
  margin: 0 auto;
  position: relative;
  color: white;
}

.bttn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 40px;
  font-weight: bold;
  padding: 14px 0px;
  border: 1px solid lightgray;
}

.bttn:before {
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  bottom: 0;
  border-radius: 40px;
  opacity: 0;
  content: "";
  background-color: #0ab9f2;
  color: white;

}

.bttn:hover:before {
  -webkit-transition: 0.3s all ease;
  transition: 0.5s;
  left: 0;
  right: 0;
  opacity: 1;
}

/////  Loan steeper next button end